<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DialUpSimulator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <DialUpSimulator.Properties.Settings>
            <setting name="hasOpenedApplication" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="username" serializeAs="String">
                <value />
            </setting>
            <setting name="password" serializeAs="String">
                <value />
            </setting>
            <setting name="phoneNumber" serializeAs="String">
                <value />
            </setting>
            <setting name="connectionName" serializeAs="String">
                <value />
            </setting>
            <setting name="controlDevice" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="savePassword" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="deviceToControl" serializeAs="String">
                <value />
            </setting>
        </DialUpSimulator.Properties.Settings>
    </userSettings>
</configuration>